@import url("https://fonts.google.com/specimen/Red+Hat+Display");
body {
  font-family: Red Hat Display;
  font-weight: 600;
}

.App {
  display: flex;
  justify-content: center;
  margin: 20px;
  background-image: "../images/pattern-background-desktop.svg";
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
