.summary-card {
  border: 1px solid hsl(225, 100%, 98%);
  border-radius: 10px;
  height: auto;
  width: 350px;
  background: #fff;
}

.summary-card img {
  border-radius: 10px 10px 0px 0px;
}

.summary-card-content {
  width: 80%;
  margin: auto;
}

.buttons {
  margin: 20px 0px;
}

.button {
  cursor: pointer;
  background: none;
  border: none;
  color: hsl(224, 23%, 55%);
  padding: 15px;
  border-radius: 10px;
}

.button:first-child {
  margin-bottom: 10px;
}

.button:hover {
  color: #000;
}

.button.primary {
  background: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);
}

.button.primary:hover {
  opacity: 75%;
}
