.summary-card {
  border: 1px solid hsl(225, 100%, 98%);
  border-radius: 10px;
}

.buttons {
}

.button {
  background: none;
  border: none;
  color: hsl(224, 23%, 55%);
  padding: 10px;
  border-radius: 10px;
}

.button:hover {
  color: #000;
}

.button.primary {
  background: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);
}

.button.primary:hover {
  background: hsl(225, 100%, 94%);
}
